<% button_text = action == "login" ? "Log In" : "Sign Up" %>
<% form_destination = action == "login" ? session_url : api_users_url %>

<div class="session_container">
  <div class="logo"></div>
  <div class="sign_form">
    <form action= "<%= form_destination %>" method="post">
      <%= auth_token_input %>
      <p>
        <label for="username">Username</label><br/>
        <input type="text" class="styled_form" id="username" name="user[username]" value="">
      </p>
      <p>
        <label for="password">Password</label><br/>
        <input type="password" class="styled_form" id="password" name="user[password]" value="">
      </p>
      <br/>
      <input class="button" type="submit" name="name" value="<%= button_text %>">
    </form>
  </div>

  <div style="color:white">
    <% if !signed_in? %>
      <%= link_to "Sign up as a new user!", new_api_user_url unless current_page?(new_api_user_url) %><br>
      <%= link_to "Sign in as a guest!", "/guest" unless current_page?(new_api_user_url) %><br>
    <% end %>
  </div>
</div>
