<!DOCTYPE html>
<html>
<head>
  <title>ResolutionQuest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if flash %>
  <% flash.each do |category, msg| %>
    <%= msg.join('<br>').html_safe%><br>
  <% end %>
<% end %>

<% if signed_in? %>
  Welcome, <%= current_user.username %>
<% end %>



<% if signed_in? %>
  <%= button_to "Log Out", session_url(:id), method: :delete%>
<% else %>
  <%= link_to "Or sign up as a new user!", new_user_url unless current_page?(new_user_url) %><br>
  <%= link_to "Or take a guest tour!", new_session_url unless current_page?(new_user_url) %>

<% end %>

</body>
</html>
